<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <div id="head">
        <p id="logo">Route Weather</p>
        <a href="{{ url_for('about') }}" class="title-button"> About</a>
        <a href="{{ url_for('contact') }}" class="title-button"> Contact</a>
        <a href="{{ url_for('software') }}" class="title-button"> Software</a>
        <p onclick="loadImprove()"  class="title-button">Improve</p>
    </div>
    <div id="intro-container" >
        <div id="intro-text-container" >
            <div id="intro-title">Plan your road trip!</div>
            <div id="intro-sub-text">Road trip planning tool equiped with weather forecast and place of interest search.</div>
            <a href="{{ url_for('map') }}" class="primary-button">Go to road trip planner</a>
            </div>

            <img id="intro-image" src="{{ url_for('static', filename='images/MapScreenShot.png') }}"/>

    </div>

    <div id="improve-popup" class="popup-container" hidden>
        <form id="improve-form" action='#' method='POST'>
        <button class="improve-popup-close" onclick='closeImprovePopup()'>&times;</button>
          <p class="improve-window-title">Help improve RouteWeather!</p>
          <p class="improve-window-prompts">Please submit your suggestion bellow.</p>
          <textarea name="message" type="text" id="improve-message-text" contenteditable="true" required></textarea>
          <p class="improve-window-prompts">If you would like, please enter your email so we can stay in touch with you.</p>
          <input name="email" type="email" id="improve-email-text"><br><br>
          <button id="improve-message-button" type="submit" class="secondary-button">Submit</button>      
          </form>  
          </div>
      <div class="overlay" id="improve-overlay" hidden></div>

</body>
<script>
    const improveForm = document.getElementById('improve-form');
    improveForm.addEventListener('submit', function (e){
    e.preventDefault();
    const formData = new FormData(improveForm)
    formEmail = formData.get('email')
    formMessage = formData.get('message')
    alert("Thank you for your submission!")
    improveForm.reset()
    $.ajax({
      type: "POST",
      url: "/improve",
      data: {"email" : formEmail, "message" : formMessage}
    })
})
</script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</html>